footer.footer 
    main
        .wrapper
            .group
                a(href="/").logo Luxury
                .description 
                    p The best eCommerce fashion theme  vehicula pulvinar laoreet. Cras lacus elit, tempor volutpat tortor. Aliquam erat volutpat. Sed eu mi turpis. Vivamus eget eleifend ante. 
                    p Luxury eCommerce fashion theme  consectetur ipsum consequat
            .group
                h6.group__title About
                ul.group__links 
                    li.link: a(href="#") Our Blogs
                    li.link: a(href="#") About Us
                    li.link: a(href="#") Our Story
                    li.link: a(href="#") Term & Conditions
                    li.link: a(href="#") Privacy Policy
                    li.link: a(href="#") Sites Map
            .group
                h6.group__title Help
                ul.group__links 
                    li.link: a(href="#") Chat
                    li.link: a(href="#") FAQs
                    li.link: a(href="#") Shipping
                    li.link: a(href="#") Returns
                    li.link: a(href="#") Order Status
                    li.link: a(href="#") Contact Us
            .group
                h6.group__title Newsletter
                .actions
                    .newsletter
                        input(type="text", placeholder="Enter email address").input
                        a.btn.btn-primary.black ok
                    .social-links 
                        a(href="#").action.action-primary.white: i.fa-brands.fa-instagram
                        a(href="#").action.action-primary.white: i.fa-brands.fa-facebook-f
                        a(href="#").action.action-primary.white: i.fa-brands.fa-twitter
                        a(href="#").action.action-primary.white: i.fa-brands.fa-pinterest-p
                        a(href="#").action.action-primary.white: i.fa-brands.fa-behance
                        a(href="#").action.action-primary.white: i.fa-brands.fa-youtube
                        a(href="#").action.action-primary.white: i.fa-brands.fa-vimeo-v
                        a(href="#").action.action-primary.white: i.fa-brands.fa-amazon
                        a(href="#").action.action-primary.white: i.fa-brands.fa-apple
                        a(href="#").action.action-primary.white: i.fa-brands.fa-android
    .copyrights
        .wrapper
            div Copyright © 2023 Designed by #[a(href="#").author AuThemes] Coded by #[a(href="https://mostafa-portfolio-mostafa-heh.vercel.app/", target="_blank").author Mostafa Neamatalla]. All rights reserved.
