//- Search icon
mixin searchIcon
    .search
        span.search-icon: i.fa-light.fa-magnifying-glass
        .search-popup
            nav.search-popup__navbar
                a(href="#").logo Luxury
                span.close: i.fa-solid.fa-xmark
            label.search-popup__input
                input(type="text", placeholder="Search here...")
                span.search-icon
                 i.fa-light.fa-magnifying-glass
            main.search-popup__results
                .wrapper
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name HIGH HEEL SANDAL
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $29.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name HIGH HEEL ANKLE BOOTS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $119.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name PLATFORM COURT SHOE
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $39.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag new
                        .product-card__content
                            h3.name BOOTIE STYLE SANDALS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $119.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag new
                        .product-card__content
                            h3.name HIGH HEEL GLITTER BOOTIES
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $69.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag new
                        .product-card__content
                            h3.name SPARKLE ANKLE BOOTS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $49.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag new
                        .product-card__content
                            h3.name ANKLE BOOTS WITH BUCKLES
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $99.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag new
                        .product-card__content
                            h3.name STUDDED SANDALS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $69.90
