//- Menu fast links
mixin links
    ul.links.pages-links
        li.links__link
            a(href="#") Home
        li.links__link
            a(href="#") Women
            span.extend: i.fa-solid.fa-caret-right
            .mega-menu.fullwidth
                .wrapper
                    .mega-menu__links
                        ul.group
                            li.group__item.group__item__title Dresses
                            li.group__item: a(href="#") Short Dress
                            li.group__item: a(href="#") long Dress
                            li.group__item: a(href="#") Printed Dress
                            li.group__item: a(href="#") SKIRTS
                        ul.group
                            li.group__item.group__item__title Clothing
                            li.group__item: a(href="#") Jackets
                            li.group__item: a(href="#") Blazers
                            li.group__item: a(href="#") Shirts
                            li.group__item: a(href="#") Jeans
                        ul.group
                            li.group__item.group__item__title Shoes
                            li.group__item: a(href="#") Boots
                            li.group__item: a(href="#") Ankle Boots
                            li.group__item: a(href="#") Sneakers
                            li.group__item: a(href="#") Sandals
                        ul.group
                            li.group__item.group__item__title Watches
                            li.group__item: a(href="#") Elegance
                            li.group__item: a(href="#") Classic
                            li.group__item: a(href="#") Sport
                            li.group__item: a(href="#") Heritage
                        ul.group
                            li.group__item.group__item__title Bags
                            li.group__item: a(href="#") Hand Bags
                            li.group__item: a(href="#") Messenger Bags
                            li.group__item: a(href="#") Large HandBags
                            li.group__item: a(href="#") Backpacks
                        ul.group
                            li.group__item.group__item__title Accessories
                            li.group__item: a(href="#") Scarves
                            li.group__item: a(href="#") Jewellery
                            li.group__item: a(href="#") Headwear
                            li.group__item: a(href="#") Others
                    a(href="#").mega-menu__card
                        .img-container
                            img( src="", alt="")
                        .text-container
                            h4.category-name Winter 2015
                            h4.feature Collection
        li.links__link
            a(href="#") men
            span.extend: i.fa-solid.fa-caret-right
            .mega-menu.fullbox
                .wrapper
                    .mega-menu__links
                        ul.group
                            li.group__item.group__item__title Clothing
                            li.group__item: a(href="#") Jackets
                            li.group__item: a(href="#") Blazers
                            li.group__item: a(href="#") Shirts
                            li.group__item: a(href="#") Jeans
                        ul.group
                            li.group__item.group__item__title Shoes
                            li.group__item: a(href="#") Boots
                            li.group__item: a(href="#") Ankle Boots
                            li.group__item: a(href="#") Sneakers
                            li.group__item: a(href="#") Sandals
                        ul.group
                            li.group__item.group__item__title Watches
                            li.group__item: a(href="#") Elegance
                            li.group__item: a(href="#") Classic
                            li.group__item: a(href="#") Sport
                            li.group__item: a(href="#") Heritage
                        ul.group
                            li.group__item.group__item__title Accessories
                            li.group__item: a(href="#") Scarves
                            li.group__item: a(href="#") Jewellery
                            li.group__item: a(href="#") Headwear
                            li.group__item: a(href="#") Others
                    .fast-links
                        a(href="#").fast-links__link Sale up to 50% off
                        a(href="#").fast-links__link New collection
        li.links__link
            a(href="#") Watches
        li.links__link
            a(href="#") Shoes
        li.links__link
            a(href="#") Accessories
        li.links__link
            a(href="#") Blogs