doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        title 404 page

    body.err-404
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .wrapper
            .err-type 404
            .err-massage OPPS! THIS PAGE COULD NOT BE FOUND!
            .err-btns
                a(href="#").btn.btn-primary.white Back to homepage
                a(href="#").btn.btn-primary.white Back to Prevew page
    include includes/footer.pug
