doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        title About us

    body.about-us
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        header.page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") about
            h5.page-header__title About Us
        main.wrapper
            .img-container.luxury-img
                //- img(src="", alt="")
            .our-story 
                h4.our-story__title Our story
                p.our-story__description Phasellus egestas nisi nisi, lobortis ultricies risus semper nec. Vestibulum pharetra ac ante ut pellentesque. Curabitur fringilla dolor quis lorem accumsan, vitae molestie urna dapibus. Pellentesque porta est ac neque bibendum viverra. Vivamus lobortis magna ut interdum laoreet. Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula. Vivamus tristique vulputate ultricies. Sed vitae ultrices orci. Ut ac tellus feugiat, congue tortor ut, faucibus orci. Nam condimentum vestibulum condimentum. Donec tristique erat urna, vitae dapibus leo pretium in. 
                .quote
                    .quote__content Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    .quote__author Steve Job’s
    include includes/footer.pug