doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

                //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Blog list

    body.blog-list
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        header.page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") blogs
            h5.page-header__title blog list
        main.wrapper
            .posts
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Luxury Fashion trenD
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title paris Premium perfume
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Ladies Fashion vintage
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title women’s Beautiful
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Rose Printed Dress
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Jewellery collection
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Fashion Look book
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
                .blog-post-review.list
                    .img-container.blog-post-review__img
                        //- img(src="", alt="alt")
                    .blog-post-review__content
                        h3.title Milano Fashion 
                        .details 
                            .details__data
                                i.fa-regular.fa-calendar-days
                                span Dec  20, 2016
                            .details__data
                                i.fa-light.fa-comment
                                span 1
                        p.preview Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .details.details__data.read-more
                                i.fa-solid.fa-caret-right
                                a(href="#") Read More
            .loading
                .loading__box
                .loading__box
                .loading__box
                .loading__box
    include includes/footer.pug