//- Display sidebar
include includes/display-category-sidebar.pug

doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Firebase (CDN)s
        include firebase/cdn.pug

        //- Firebase configration
        script(src="./scripts/js/firebase/config.js", defer)

        //- Helper functions for product
        script(src="./scripts/js/helper/product.js", defer)

        //- Page custom scripts
        script(src="./scripts/js/pages/category.js", defer) 

        title Category List

    body.category-list
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") men
            h5.page-header__title Category Grid
        .wrapper 
            .products
                .setting-bar 
                    label.select sort by:
                        select
                            option(value="default") default 
                            option(value="name") name
                            option(value="price") price 
                    label.select Items/Page:
                        select
                            option(value="12") 12
                            option(value="24") 24 
                    .setting-bar__layouts
                        a(href="./category-grid.html?layout=grid").layout: i.fa-solid.fa-grid
                        span.layout.layout--active: i.fa-solid.fa-list
                .items#listProductsContainer
                    //- .product-card-list
                        .img-container.product-card__image
                            img(src="", alt="")
                        .product-card__tags
                            .tag sale
                        .product-card-list__content
                            h3.name TOP WITH CROSSOVER STRAPS
                            .rate
                                .rate__stars
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .rate__details
                                    span 2 Review(s)
                                    span.seprator
                                    span Add Your Review
                            .price
                                .price__before $49.90
                                .price__after $35.90
                            .description Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                            .navigation
                                span.action.action-primary.black.icon
                                    i.fa-light.fa-bag-shopping
                                    | Add to cart
                                span.action.action-secondary.black
                                    i.fa-regular.fa-retweet
                                span.action.action-secondary.black
                                    i.fa-light.fa-heart
                    //- .product-card-list
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card-list__content
                    //-         h3.name SUEDE CUTWORK TOP
                    //-         .rate
                    //-             .rate__stars
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-light.fa-star
                    //-             .rate__details
                    //-                 span 2 Review(s)
                    //-                 span.seprator
                    //-                 span Add Your Review
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $69.90
                    //-         .description Etiam ornare euismod convallis. Donec laoreet mattis est nec faucibus. Fusce augue tellus, pretium quis velit vel, vulputate ullamcorper eros. Nunc vitae vulputate velit. Ut ultrices leo dapibus, porta urna ut, pellentesque magna.
                    //-         .navigation
                    //-             span.action.action-primary.black.icon
                    //-                 i.fa-light.fa-bag-shopping
                    //-                 | Add to cart
                    //-             span.action.action-secondary.black
                    //-                 i.fa-regular.fa-retweet
                    //-             span.action.action-secondary.black
                    //-                 i.fa-light.fa-heart
                    //- .product-card-list
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card-list__content
                    //-         h3.name Navy Blue suit
                    //-         .rate
                    //-             .rate__stars
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-light.fa-star
                    //-             .rate__details
                    //-                 span 2 Review(s)
                    //-                 span.seprator
                    //-                 span Add Your Review
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $310.00
                    //-         .description Aenean sodales lorem et lacus semper ultricies. Mauris consectetur risus vitae eleifend sodales. Nunc nec massa sed ligula placerat commodo. Vivamus pretium diam non urna bibendum, a tristique arcu aliquet. 
                    //-         .navigation
                    //-             span.action.action-primary.black.icon
                    //-                 i.fa-light.fa-bag-shopping
                    //-                 | Add to cart
                    //-             span.action.action-secondary.black
                    //-                 i.fa-regular.fa-retweet
                    //-             span.action.action-secondary.black
                    //-                 i.fa-light.fa-heart
                    //- .product-card-list
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card-list__content
                    //-         h3.name STRIPED CROP TOP
                    //-         .rate
                    //-             .rate__stars
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-light.fa-star
                    //-             .rate__details
                    //-                 span 2 Review(s)
                    //-                 span.seprator
                    //-                 span Add Your Review
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $29.00
                    //-         .description Donec sollicitudin eleifend tempus. Proin id augue lacus. Suspendisse potenti. Vestibulum rutrum orci malesuada, aliquam nisl ac, vulputate dui. Donec laoreet magna quis magna tincidunt, eget tincidunt dui ultricies
                    //-         .navigation
                    //-             span.action.action-primary.black.icon
                    //-                 i.fa-light.fa-bag-shopping
                    //-                 | Add to cart
                    //-             span.action.action-secondary.black
                    //-                 i.fa-regular.fa-retweet
                    //-             span.action.action-secondary.black
                    //-                 i.fa-light.fa-heart
                    //- .product-card-list
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card-list__content
                    //-         h3.name GATHERED POPLIN TOP
                    //-         .rate
                    //-             .rate__stars
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-solid.fa-star
                    //-                 i.fa-light.fa-star
                    //-             .rate__details
                    //-                 span 2 Review(s)
                    //-                 span.seprator
                    //-                 span Add Your Review
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $29.90
                    //-         .description Sed iaculis dolor sapien, at pharetra dolor tincidunt non. Quisque malesuada mollis eleifend. Nullam ligula mauris, porttitor sed condimentum facilisis, mattis sodales libero. Nulla arcu justo, tincidunt ut scelerisque in, blandit ut dui.
                    //-         .navigation
                    //-             span.action.action-primary.black.icon
                    //-                 i.fa-light.fa-bag-shopping
                    //-                 | Add to cart
                    //-             span.action.action-secondary.black
                    //-                 i.fa-regular.fa-retweet
                    //-             span.action.action-secondary.black
                    //-                 i.fa-light.fa-heart
                .pagination  
                    span.action.action-secondary.black: i.fa-solid.fa-caret-left
                    .pages
                        //- a(href="#").action.action-secondary.black.page.page--active 1
                        //- a(href="#").action.action-secondary.black.page 2
                        //- a(href="#").action.action-secondary.black.page 3
                        //- a(href="#").action.action-secondary.black.page 4
                        //- a(href="#").action.action-secondary.black.page 5
                    span.action.action-secondary.black: i.fa-solid.fa-caret-right
            +displaySidebar
    include includes/footer.pug
