//- Display sidebar
include includes/display-category-sidebar.pug

doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Helper functions for product
        script(src="./scripts/js/helper/product.js", defer)

        //- Page custom scripts
        script(src="./scripts/js/pages/category.js", defer) 

        title Category Grid

    body.category-grid
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") men
            h5.page-header__title Category Grid
        .wrapper
            +displaySidebar
            .products
                .setting-bar 
                    label.select sort by:
                        select
                            option(value="default") default 
                            option(value="name") name
                            option(value="price") price 
                    label.select Items/Page:
                        select
                            option(value="12") 12
                            option(value="24") 24 
                    .setting-bar__layouts
                        span.layout.layout--active: i.fa-solid.fa-grid
                        a(href="./category-list.html?layout=list").layout: i.fa-solid.fa-list
                +displaySidebar
                .items#gridProductsContainer
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         .tag sale
                    //-     .product-card__content
                    //-         h3.name Navy Blue suit
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             .price__before $49.90
                    //-             .price__after $310.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name Supper 130 Wool Suit
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $350.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name Basic Blazer
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $119.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name Blazer with elbow
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $310.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name STRIPED BLAZER
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $169.90
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name Two - Tone Suit Blazer
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $189.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name WOOL BLAZER
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-light.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $199.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name STRUCTURED SUIT BLAZER
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star 
                    //-             i.fa-solid.fa-star 
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $169.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name ELBOW PATCHES
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star 
                    //-             i.fa-light.fa-star 
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $119.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name FAUX LEATHER LAPEL
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $149.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     //- .product-card__tags
                    //-     //-     .tag sale
                    //-     .product-card__content
                    //-         h3.name BIRDSEYE SUIT WAISTCOAT
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $79.90
                    //- .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name SUIT WAISTCOAT
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $189.00
                .pagination  
                    span.action.action-secondary.black: i.fa-solid.fa-caret-left
                    .pages
                        //- a(href="#").action.action-secondary.black.page.page--active 1
                        //- a(href="#").action.action-secondary.black.page 2
                        //- a(href="#").action.action-secondary.black.page 3
                        //- a(href="#").action.action-secondary.black.page 4
                        //- a(href="#").action.action-secondary.black.page 5
                    span.action.action-secondary.black: i.fa-solid.fa-caret-right
        .loading-container
            span.logo Luxury
            .loading
                .loading__box
                .loading__box
                .loading__box
                .loading__box
    include includes/footer.pug