doctype
html(lang='en')

    head
        //- Leaflet maps styles
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=", crossorigin="")

        //- Leaflet scripts
        script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js", integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=",  crossorigin="")

        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Connect us

    body.connect-us
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        header.page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") Contact
            h5.page-header__title Contact Us
        main.wrapper
            .maps
                #map
            form.connect-form 
                h6.connect-form__title Send us your message
                .connect-form__sub-title Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque. 
                input(type="text", placeholder="Full Name").input
                input(type="text", placeholder="Phone Number").input
                input(type="email", placeholder="Email Address").input
                textarea(placeholder="Your Comment", rows="5").input
                button.btn.btn-primary.black(type='submit') Message
        script 
            |   var map = L.map('map').setView([51.505, -0.09], 23);
            |   L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            |          maxZoom: 19,
            |          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            |   }).addTo(map);
            |    var myIcon = L.icon({
            |        iconUrl: './assets/map-marker.png'
            |    });
            |   L.marker([51.505, -0.09], {icon: myIcon}).addTo(map);
    include includes/footer.pug
