doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

                //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Luxury Home page v3

    body.home-v3
    include includes/footer.pug