doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Luxury Home page v2 

    body.home-v2
        nav.navbar.navbar__v1.navbar__v2.top-part
            ul.actions
                li.actions__action.cart
                    a(href="#")
                        i.fa-light.fa-bag-shopping
                        span.cart-number 1
                    .mega-menu.fullwidth
                        .mega-menu__products
                            .product-card
                                .img-container.product-card__image
                                    img(src="", alt="")
                                    .navigation
                                        span.navigation__link
                                            i.fa-light.fa-magnifying-glass-plus
                                        span.navigation__link
                                            i.fa-light.fa-bag-shopping
                                        span.navigation__link
                                            i.fa-regular.fa-retweet
                                        span.navigation__link
                                            i.fa-light.fa-heart
                                //- .product-card__tags
                                //-     .tag sale
                                .product-card__content
                                    h3.name HIGH HEEL SANDAL
                                    //- .rate
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star-half-stroke
                                    .price
                                        //- .price__before $49.90
                                        .price__after $29.00
                                span.product-card__remove: i.fa-solid.fa-xmark
                            .product-card
                                .img-container.product-card__image
                                    img(src="", alt="")
                                    .navigation
                                        span.navigation__link
                                            i.fa-light.fa-magnifying-glass-plus
                                        span.navigation__link
                                            i.fa-light.fa-bag-shopping
                                        span.navigation__link
                                            i.fa-regular.fa-retweet
                                        span.navigation__link
                                            i.fa-light.fa-heart
                                //- .product-card__tags
                                //-     .tag sale
                                .product-card__content
                                    h3.name HIGH HEEL ANKLE BOOTS
                                    //- .rate
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star
                                    //-     i.fa-solid.fa-star-half-stroke
                                    .price
                                        //- .price__before $49.90
                                        .price__after $119.00
                                span.product-card__remove: i.fa-solid.fa-xmark
                        .mega-menu__details
                            .total
                                | Total: 
                                span.total__price $148.00
                            .action
                                a(href="#").btn.btn-primary.black View cart
                                a(href="#").btn.btn-primary.black Checkout
                li.actions__action 
                    i.fa-light.fa-bars#activeLeftSidebar
                    .sidebar.sidebar-left#leftSidebar
                        span.opacity
                        aside.aside
                            i.fa-solid.fa-xmark.aside__close#closeLeftSidebar
                            //- Menu fast links
                            include includes/navbar-pages-links.pug
                            +links
                            ul.aside__links 
                                li.link: a(href="#") My Account
                                li.link: a(href="#") My Wishlist
                                li.link: a(href="#") My Cart
                                li.link: a(href="#") Check out
                                li.link: a(href="#") Campain
                                li.link: a(href="#") Blogs
                                li.link: a(href="#") Log in
                                li.link: a(href="#") Sign up
                            footer.aside__footer
                                .controler
                                    label
                                        | Language
                                        select(name="language")
                                            option(value="en") English
                                            option(value="ar") Arabic
                                    label
                                        | Currency
                                        select(name="currency")
                                            option(value="usd") USD
                                            option(value="egp") EGP
                                hr
                                .copyright Copyright &copy; 2015 Designed by #[a(href="#", target="_blank").author AuThemes] Coded by #[a(href="https://mostafa-portfolio-ten.vercel.app/works.html", target="_blank").author Mostafa Neamatalla]. All rights reserved.
        section.hero-section
            .slides
                div(data-id="0").img-container.slides__slide
                    // img(src="", alt="")
                    .slide-content.slide-content-v2
                        h2.slide-content__headline Fall/Winter
                        p.slide-content__description Women’s Collection 2016
                        a(href="#").btn.btn-primary.white View collection
                div(data-id="1").img-container.slides__slide.slides__slide--active
                    // img(src="", alt="")
                    .slide-content
                        h2.slide-content__headline Luxury
                        p.slide-content__description Men’s Collection 2016
                        a(href="#").btn.btn-primary.white View collection
                div(data-id="2").img-container.slides__slide
                    // img(src="", alt="")
                    .slide-content.slide-content-v2.slide-content-v3
                        h2.slide-content__headline Watches
                        p.slide-content__description Men’s Collection 2016
                        a(href="#").btn.btn-primary.white men’s collection 2016
                .slides__controlers
                    span.action.action-secondary.white#heroSlideLeftControler
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.white#heroSlideRightControler
                        i.fa-solid.fa-caret-right
                .bullets.white
                    span(data-id='0').bullet
                    span(data-id='1').bullet.bullet--active
                    span(data-id='2').bullet
        nav.navbar.navbar__v1.navbar__v2.links-part
            a(href="#").logo Luxury
            ul.links
                li.links__link
                    a(href="#") Home
                li.links__link
                    a(href="#") Women
                    .mega-menu.fullwidth
                        .wrapper
                            .mega-menu__links
                                ul.group
                                    li.group__item.group__item__title Dresses
                                    li.group__item: a(href="#") Short Dress
                                    li.group__item: a(href="#") long Dress
                                    li.group__item: a(href="#") Printed Dress
                                    li.group__item: a(href="#") SKIRTS
                                ul.group
                                    li.group__item.group__item__title Clothing
                                    li.group__item: a(href="#") Jackets
                                    li.group__item: a(href="#") Blazers
                                    li.group__item: a(href="#") Shirts
                                    li.group__item: a(href="#") Jeans
                                ul.group
                                    li.group__item.group__item__title Shoes
                                    li.group__item: a(href="#") Boots
                                    li.group__item: a(href="#") Ankle Boots
                                    li.group__item: a(href="#") Sneakers
                                    li.group__item: a(href="#") Sandals
                                ul.group
                                    li.group__item.group__item__title Watches
                                    li.group__item: a(href="#") Elegance
                                    li.group__item: a(href="#") Classic
                                    li.group__item: a(href="#") Sport
                                    li.group__item: a(href="#") Heritage
                                ul.group
                                    li.group__item.group__item__title Bags
                                    li.group__item: a(href="#") Hand Bags
                                    li.group__item: a(href="#") Messenger Bags
                                    li.group__item: a(href="#") Large HandBags
                                    li.group__item: a(href="#") Backpacks
                                ul.group
                                    li.group__item.group__item__title Accessories
                                    li.group__item: a(href="#") Scarves
                                    li.group__item: a(href="#") Jewellery
                                    li.group__item: a(href="#") Headwear
                                    li.group__item: a(href="#") Others
                            a(href="#").mega-menu__card
                                .img-container
                                    img( src="", alt="")
                                .text-container
                                    h4.category-name Winter 2015
                                    h4.feature Collection
                li.links__link
                    a(href="#") men
                    .mega-menu.fullbox
                        .wrapper
                            .mega-menu__links
                                ul.group
                                    li.group__item.group__item__title Clothing
                                    li.group__item: a(href="#") Jackets
                                    li.group__item: a(href="#") Blazers
                                    li.group__item: a(href="#") Shirts
                                    li.group__item: a(href="#") Jeans
                                ul.group
                                    li.group__item.group__item__title Shoes
                                    li.group__item: a(href="#") Boots
                                    li.group__item: a(href="#") Ankle Boots
                                    li.group__item: a(href="#") Sneakers
                                    li.group__item: a(href="#") Sandals
                                ul.group
                                    li.group__item.group__item__title Watches
                                    li.group__item: a(href="#") Elegance
                                    li.group__item: a(href="#") Classic
                                    li.group__item: a(href="#") Sport
                                    li.group__item: a(href="#") Heritage
                                ul.group
                                    li.group__item.group__item__title Accessories
                                    li.group__item: a(href="#") Scarves
                                    li.group__item: a(href="#") Jewellery
                                    li.group__item: a(href="#") Headwear
                                    li.group__item: a(href="#") Others
                            .fast-links
                                a(href="#").fast-links__link Sale up to 50% off
                                a(href="#").fast-links__link New collection
                li.links__link
                    a(href="#") Watches
                li.links__link
                    a(href="#") Shoes
                li.links__link
                    a(href="#") Accessories
                li.links__link
                    a(href="#") Blogs
            ul.actions
                li.actions__action
                    //- Search icon
                    include includes/navbar-search-popout.pug
                    +searchIcon
        section.popular-categories
            .wrapper
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    h4.category__title Dress
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    h4.category__title Watches
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    h4.category__title Shoes
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    h4.category__title Bags
        section.featured-products
            .wrapper 
                h6.section-heading.fit-border featured products
                .tabs-changer
                    span.tabs-changer__tab.tabs-changer__tab--active all
                    span.tabs-changer__tab dress
                    span.tabs-changer__tab bags
                    span.tabs-changer__tab shoes
                    span.tabs-changer__tab watches
                    span.tabs-changer__tab Jewellery
                .products
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name BOOTS STRETCH DETAIL
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $139.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name MIXED MESSENGER BAG
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $69.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Gem Choker
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $19.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name  Birdseye suit
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $190.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag sale
                        .product-card__content
                            h3.name  Blazer with elbow
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                .price__before $169.90
                                .price__after $119.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag sale
                        .product-card__content
                            h3.name  LONG TEARDROP EARRING
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                .price__before $39.90
                                .price__after $29.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name  PLATFORM COURT SHOE
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $39.90
                                .price__after $39.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag new
                        .product-card__content
                            h3.name  BOOTIE STYLE SANDALS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $39.90
                                .price__after $119.00
        section.testimonials
            .wrapper 
                h6.section-heading.fit-border Testimonials
                .comment
                    p.comment__content Cras et nibh convallis, suscipit nibh sed, sodales quam. Phasellus auctor, lectus ac sagittis fringilla, est metus elementum dui, non sagittis tellus tortor sodales odio. Vivamus congue erat eget dui condimentum, nec interdum nunc posuere
                    h6.comment__author Angelina Jolie
                .bullets.white
                    span(data-id='0').bullet
                    span(data-id='1').bullet.bullet--active
                    span(data-id='2').bullet
        section.new-products
            .wrapper
                h6.section-heading.fit-border New Products
                .products 
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name Navy Blue suit
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $310.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name Technical suit
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $290.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name Silk Blouse
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after 49.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name cITY BAG WITH LOCK
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after 39.90
                .controlers 
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-right
        section.logo-brands 
            .wrapper 
                h6.section-heading.fit-border From Brands
                p.brief All Brands Luxury fashion ipsum dolor sit amet adipiscing
                .logos 
                    .logos__logo: img(src="./images/envato-logo.png", alt="envato logo")
                    .logos__logo: img(src="./images/pinterest-logo.png", alt="pinterest logo")
                    .logos__logo: img(src="./images/envato-logo.png", alt="envato logo")
                    .logos__logo: img(src="./images/magento-logo.png", alt="magento logo")
                    .logos__logo: img(src="./images/dribbble-logo.png", alt="dribbble logo")
                    .logos__logo: img(src="./images/envato-logo.png", alt="envato logo")
        section.from-blogs-section
            .wrapper
                h6.section-heading.fit-border From the Blog
            .slides
                span.action.action-secondary.black#leftControler
                    i.fa-solid.fa-caret-left
                .posts
                    .blog-post-review.grid
                        .img-container.blog-post-review__img
                            img(src="", alt="alt")
                        .blog-post-review__content
                            h3.title Luxury Fashion trending
                            p.preview Duis hendrerit sem eget dictum cursus. Vivamus imperdiet metus placerat, dictum lorem et, congue lectus. 
                            .details 
                                .details__data
                                    i.fa-regular.fa-calendar-days
                                    span Dec  20, 2016
                                .details__data
                                    i.fa-light.fa-comment
                                    span 1
                                .details__data.read-more
                                    i.fa-solid.fa-caret-right
                                    a(href="#") Read More
                    .blog-post-review.grid
                        .img-container.blog-post-review__img
                            img(src="", alt="alt")
                        .blog-post-review__content
                            h3.title paris Premium perfume
                            p.preview Vivamus imperdiet metus placerat, dictum lorem et, congue lectus. Sed liquet quis lectus eget, fermentum tempus purus.
                            .details 
                                .details__data
                                    i.fa-regular.fa-calendar-days
                                    span Dec  20, 2016
                                .details__data
                                    i.fa-light.fa-comment
                                    span 1
                                .details__data.read-more
                                    i.fa-solid.fa-caret-right
                                    a(href="#") Read More
                span.action.action-secondary.black#rightControler
                    i.fa-solid.fa-caret-right
        include includes/footer.pug