doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Luxury Home page v1 

    body.home-v1
        nav.navbar.navbar__v1
                        a(href="#").logo Luxury
                        ul.links
                            li.links__link
                                a(href="#") Home
                            li.links__link
                                a(href="#") Women
                                .mega-menu.fullwidth
                                    .wrapper
                                        .mega-menu__links
                                            ul.group
                                                li.group__item.group__item__title Dresses
                                                li.group__item: a(href="#") Short Dress
                                                li.group__item: a(href="#") long Dress
                                                li.group__item: a(href="#") Printed Dress
                                                li.group__item: a(href="#") SKIRTS
                                            ul.group
                                                li.group__item.group__item__title Clothing
                                                li.group__item: a(href="#") Jackets
                                                li.group__item: a(href="#") Blazers
                                                li.group__item: a(href="#") Shirts
                                                li.group__item: a(href="#") Jeans
                                            ul.group
                                                li.group__item.group__item__title Shoes
                                                li.group__item: a(href="#") Boots
                                                li.group__item: a(href="#") Ankle Boots
                                                li.group__item: a(href="#") Sneakers
                                                li.group__item: a(href="#") Sandals
                                            ul.group
                                                li.group__item.group__item__title Watches
                                                li.group__item: a(href="#") Elegance
                                                li.group__item: a(href="#") Classic
                                                li.group__item: a(href="#") Sport
                                                li.group__item: a(href="#") Heritage
                                            ul.group
                                                li.group__item.group__item__title Bags
                                                li.group__item: a(href="#") Hand Bags
                                                li.group__item: a(href="#") Messenger Bags
                                                li.group__item: a(href="#") Large HandBags
                                                li.group__item: a(href="#") Backpacks
                                            ul.group
                                                li.group__item.group__item__title Accessories
                                                li.group__item: a(href="#") Scarves
                                                li.group__item: a(href="#") Jewellery
                                                li.group__item: a(href="#") Headwear
                                                li.group__item: a(href="#") Others
                                        a(href="#").mega-menu__card
                                            .img-container
                                                img( src="", alt="")
                                            .text-container
                                                h4.category-name Winter 2015
                                                h4.feature Collection
                            li.links__link
                                a(href="#") men
                                .mega-menu.fullbox
                                    .wrapper
                                        .mega-menu__links
                                            ul.group
                                                li.group__item.group__item__title Clothing
                                                li.group__item: a(href="#") Jackets
                                                li.group__item: a(href="#") Blazers
                                                li.group__item: a(href="#") Shirts
                                                li.group__item: a(href="#") Jeans
                                            ul.group
                                                li.group__item.group__item__title Shoes
                                                li.group__item: a(href="#") Boots
                                                li.group__item: a(href="#") Ankle Boots
                                                li.group__item: a(href="#") Sneakers
                                                li.group__item: a(href="#") Sandals
                                            ul.group
                                                li.group__item.group__item__title Watches
                                                li.group__item: a(href="#") Elegance
                                                li.group__item: a(href="#") Classic
                                                li.group__item: a(href="#") Sport
                                                li.group__item: a(href="#") Heritage
                                            ul.group
                                                li.group__item.group__item__title Accessories
                                                li.group__item: a(href="#") Scarves
                                                li.group__item: a(href="#") Jewellery
                                                li.group__item: a(href="#") Headwear
                                                li.group__item: a(href="#") Others
                                        .fast-links
                                            a(href="#").fast-links__link Sale up to 50% off
                                            a(href="#").fast-links__link New collection
                            li.links__link
                                a(href="#") Watches
                            li.links__link
                                a(href="#") Shoes
                            li.links__link
                                a(href="#") Accessories
                            li.links__link
                                a(href="#") Blogs
                        ul.actions
                            li.actions__action.cart
                                a(href="#")
                                    i.fa-light.fa-bag-shopping
                                    span.cart-number 1
                                .mega-menu.fullwidth
                                    .mega-menu__products
                                        .product-card
                                            .img-container.product-card__image
                                                img(src="", alt="")
                                                .navigation
                                                    span.navigation__link
                                                        i.fa-light.fa-magnifying-glass-plus
                                                    span.navigation__link
                                                        i.fa-light.fa-bag-shopping
                                                    span.navigation__link
                                                        i.fa-regular.fa-retweet
                                                    span.navigation__link
                                                        i.fa-light.fa-heart
                                            //- .product-card__tags
                                            //-     .tag sale
                                            .product-card__content
                                                h3.name HIGH HEEL SANDAL
                                                //- .rate
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star-half-stroke
                                                .price
                                                    //- .price__before $49.90
                                                    .price__after $29.00
                                            span.product-card__remove: i.fa-solid.fa-xmark
                                        .product-card
                                            .img-container.product-card__image
                                                img(src="", alt="")
                                                .navigation
                                                    span.navigation__link
                                                        i.fa-light.fa-magnifying-glass-plus
                                                    span.navigation__link
                                                        i.fa-light.fa-bag-shopping
                                                    span.navigation__link
                                                        i.fa-regular.fa-retweet
                                                    span.navigation__link
                                                        i.fa-light.fa-heart
                                            //- .product-card__tags
                                            //-     .tag sale
                                            .product-card__content
                                                h3.name HIGH HEEL ANKLE BOOTS
                                                //- .rate
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star
                                                //-     i.fa-solid.fa-star-half-stroke
                                                .price
                                                    //- .price__before $49.90
                                                    .price__after $119.00
                                            span.product-card__remove: i.fa-solid.fa-xmark
                                    .mega-menu__details
                                        .total
                                            | Total: 
                                            span.total__price $148.00
                                        .action
                                            a(href="#").btn.btn-primary.black View cart
                                            a(href="#").btn.btn-primary.black Checkout
                            li.actions__action
                                i.fa-light.fa-magnifying-glass
                            li.actions__action 
                                i.fa-light.fa-bars#activeRightSidebar
                                .sidebar.sidebar-right#rightSidebar
                                    span.opacity
                                    aside.aside
                                        i.fa-solid.fa-xmark.aside__close#closeRightSidebar
                                        ul.aside__links 
                                            li.link: a(href="#") My Account
                                            li.link: a(href="#") My Wishlist
                                            li.link: a(href="#") My Cart
                                            li.link: a(href="#") Check out
                                            li.link: a(href="#") Campain
                                            li.link: a(href="#") Blogs
                                            li.link: a(href="#") Log in
                                            li.link: a(href="#") Sign up
                                        footer.aside__footer
                                            .controler
                                                label
                                                    | Language
                                                    select(name="language")
                                                        option(value="en") English
                                                        option(value="ar") Arabic
                                                label
                                                    | Currency
                                                    select(name="currency")
                                                        option(value="usd") USD
                                                        option(value="egp") EGP
                                            hr
                                            .copyright Copyright &copy; 2015 Designed by #[a(href="#", target="_blank").author AuThemes] Coded by #[a(href="https://mostafa-portfolio-ten.vercel.app/works.html", target="_blank").author Mostafa Neamatalla]. All rights reserved.
        section.hero-section
            .slides
                div(data-id="0").img-container.slides__slide
                    // img(src="", alt="")
                    .slide-content.slide-content-v2
                        h2.slide-content__headline Fall/Winter
                        p.slide-content__description Women’s Collection 2016
                        a(href="#").btn.btn-primary.white View collection
                div(data-id="1").img-container.slides__slide.slides__slide--active
                    // img(src="", alt="")
                    .slide-content
                        h2.slide-content__headline Luxury
                        p.slide-content__description Men’s Collection 2016
                        a(href="#").btn.btn-primary.white View collection
                div(data-id="2").img-container.slides__slide
                    // img(src="", alt="")
                    .slide-content.slide-content-v2.slide-content-v3
                        h2.slide-content__headline Watches
                        p.slide-content__description Men’s Collection 2016
                        a(href="#").btn.btn-primary.white men’s collection 2016
                .slides__controlers
                    span.action.action-secondary.white#heroSlideLeftControler
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.white#heroSlideRightControler
                        i.fa-solid.fa-caret-right
                .bullets.white
                    span(data-id='0').bullet
                    span(data-id='1').bullet.bullet--active
                    span(data-id='2').bullet
        section.top-categories-section
            .categories-container
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    .category__title: h4 Men
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    .category__title: h4 Women
                .offer: p Take $15 off $100 with code #[strong FALL15], online only.
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    .category__title: h4 Watches
                a(href="#").category
                    .img-container.category__img
                        // img(src="", alt="alt")
                    .category__title: h4 Bags
        section.new-products-section
            .wrapper 
                h6.section-heading.full-border New Products
                .products-container 
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Navy Blue suit
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $310.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Technical suit
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                                i.fa-light.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $290.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Supper 130 Wool Suit
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $350.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name  Birdseye suit
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $390.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name  Blazer with elbow
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $310.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Printed top
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $39.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag sale
                        .product-card__content
                            h3.name multicolored Dress
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star-half-stroke
                            .price
                                .price__before $49.90
                                .price__after $39.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag sale
                        .product-card__content
                            h3.name Two - Tone Suit Blazer
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star-half-stroke
                            .price
                                .price__before $239.00
                                .price__after $189.00
        section.offers-section
            .wrapper 
                .offers-section__slides 
                    .slide
                        .img-container.slide__img
                            img(src="https://images.unsplash.com/photo-1676523738163-55bc3451bfda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="alt")
                        h4.slide__head Slide One
                        p.slide__desciption Slide One Description
                        a(href="#").btn.btn-primary.black Shop now
                    .slide.slide--active
                        .img-container.slide__img
                            img(src="https://images.unsplash.com/photo-1676534967649-de5853869036?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="alt")
                        h4.slide__head Deal of the day
                        p.slide__desciption Clothing & Sccessories Sale Up To #[strong 50%] Off
                        a(href="#").btn.btn-primary.black Shop now
                    .slide
                        .img-container.slide__img
                            img(src="https://images.unsplash.com/photo-1676554436967-3b923dd87c3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2MHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="alt")
                        h4.slide__head Slide Three
                        p.slide__desciption Slide Three Description
                        a(href="#").btn.btn-primary.black Shop now
                    .bullets.gray-3
                        span(data-id='0').bullet
                        span(data-id='1').bullet.bullet--active
                        span(data-id='2').bullet
        section.top-products-section 
            .wrapper 
                .tabs-changer.bordered
                        span.tabs-changer__tab.tabs-changer__tab--active top
                        span.tabs-changer__tab sale
                        span.tabs-changer__tab best
                .tab-slides
                    span.action.action-secondary.black#leftControler
                            i.fa-solid.fa-caret-left
                    .slide-cards
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                .tag new
                            .product-card__content
                                h3.name Navy Blue suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Technical suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $290.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Silk Blouse
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $49.90
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Crossover Black
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star-half-stroke
                                .price
                                    //- .price__before $49.90
                                    .price__after $39.90
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                .tag new
                            .product-card__content
                                h3.name Test 1
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Test 2
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $290.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Test 3
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $49.90
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Test 4
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star-half-stroke
                                .price
                                    //- .price__before $49.90
                                    .price__after $39.90
                    span.action.action-secondary.black#rightControler
                        i.fa-solid.fa-caret-right