doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Product class
        script(src="scripts/js/classes/product.js", defer)

        //- Products class depends Product class
        script(src="scripts/js/classes/products.js", defer)

        //- Home v1 spacific scripts
        script(src="./scripts/js/pages/home-v1.js", defer) 

        title Luxury Home page v1 

    body.home-v1
        include includes/navbar-v1.pug
        +navbar-v1-active(false)
        section.hero-section
            .slider#heroSectionslider
                .slider__slides#sliderSlides
                    .img-container.slide
                        // img(src="", alt="")
                        .slide-content.slide-content-v2
                            h2.slide-content__headline Fall/Winter
                            p.slide-content__description Women’s Collection 2016
                            a(href="#").btn.btn-primary.white View collection
                    .img-container.slide.slide--active(data-slide="2")
                        // img(src="", alt="")
                        .slide-content
                            h2.slide-content__headline Luxury
                            p.slide-content__description Men’s Collection 2016
                            a(href="#").btn.btn-primary.white View collection
                    .img-container.slide(data-slide="3")
                        // img(src="", alt="")
                        .slide-content.slide-content-v2.slide-content-v3
                            h2.slide-content__headline Watches
                            p.slide-content__description Men’s Collection 2016
                            a(href="#").btn.btn-primary.white men’s collection 2016
                .slider__controler#sliderControlers
                    span.action.action-secondary.white(data-btn="previous")
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.white(data-btn="next")
                        i.fa-solid.fa-caret-right
                .bullets.white.slider__bullets#sliderBullets
                    span.bullet(data-bullet="1")
                    span.bullet.bullet--active(data-bullet="2")
                    span.bullet(data-bullet="3")
        section.top-categories-section
            .categories-container#topCategories
                a(href="#").category
                    .img-container.category__img
                        img(src="", alt="alt")
                    .category__title: h4 Men
                a(href="#").category
                    .img-container.category__img
                        img(src="", alt="alt")
                    .category__title: h4 Women
                .offer: p Take $15 off $100 with code #[strong FALL15], online only.
                a(href="#").category
                    .img-container.category__img
                        img(src="", alt="alt")
                    .category__title: h4 Watches
                a(href="#").category
                    .img-container.category__img
                        img(src="", alt="alt")
                    .category__title: h4 Bags
        section.new-products-section
            .wrapper 
                h6.section-heading.full-border New Products
                .products-container#newProducts
                    //- .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            //- .tag sale
                        .product-card__content
                            h3.name Navy Blue suit
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                            .price
                                //- .price__before $49.90
                                .price__after $310.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         //- .tag sale
                    //-     .product-card__content
                    //-         h3.name Technical suit
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-light.fa-star
                    //-             i.fa-light.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $290.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         //- .tag sale
                    //-     .product-card__content
                    //-         h3.name Supper 130 Wool Suit
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $350.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         //- .tag sale
                    //-     .product-card__content
                    //-         h3.name  Birdseye suit
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-light.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $390.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         //- .tag sale
                    //-     .product-card__content
                    //-         h3.name  Blazer with elbow
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $310.00
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         //- .tag sale
                    //-     .product-card__content
                    //-         h3.name Printed top
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-light.fa-star
                    //-         .price
                    //-             //- .price__before $49.90
                    //-             .price__after $39.90
                    //- .product-card
                    //-     .img-container.product-card__image
                    //-         //- img(src="", alt="")
                    //-         .navigation
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-magnifying-glass-plus
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-bag-shopping
                    //-             span.navigation__link
                    //-                 i.fa-regular.fa-retweet
                    //-             span.navigation__link
                    //-                 i.fa-light.fa-heart
                    //-     .product-card__tags
                    //-         .tag sale
                    //-     .product-card__content
                    //-         h3.name multicolored Dress
                    //-         .rate
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star
                    //-             i.fa-solid.fa-star-half-stroke
                    //-         .price
                    //-             .price__before $49.90
                    //-             .price__after $39.90
                    //- .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        .product-card__tags
                            .tag sale
                        .product-card__content
                            h3.name Two - Tone Suit Blazer
                            .rate
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star-half-stroke
                            .price
                                .price__before $239.00
                                .price__after $189.00
        section.offers-section
            .wrapper 
                .slider#offerSectionslider
                    .slider__slides#sliderSlides
                        .slide
                            .img-container.slide__img
                                img(src="#", alt="Slide One")
                            h4.slide__head Slide One
                            p.slide__desciption Slide One Description
                            a(href="#").btn.btn-primary.black Shop now
                        .slide.slide--active
                            .img-container.slide__img
                                img(src="#", alt="Deal of the day")
                            h4.slide__head Deal of the day
                            p.slide__desciption Clothing & Sccessories Sale Up To #[strong 50%] Off
                            a(href="#").btn.btn-primary.black Shop now
                        .slide
                            .img-container.slide__img
                                img(src="#", alt="Slide Three")
                            h4.slide__head Slide Three
                            p.slide__desciption Slide Three Description
                            a(href="#").btn.btn-primary.black Shop now
                    .bullets.gray-3.slider__bullets#sliderBullets
                        span(data-id='1').bullet
                        span(data-id='2').bullet.bullet--active
                        span(data-id='3').bullet
        section.top-products-section 
            .wrapper 
                .tabs-changer.bordered#topProductsTabs
                        span(data-tab="top").tabs-changer__tab.tabs-changer__tab--active top
                        span(data-tab="sale").tabs-changer__tab sale
                .tab-slides#topProductsDisplay
                    span.action.action-secondary.black.arrow(data-direction="left")
                            i.fa-solid.fa-caret-left
                    .slide-cards#topProducts
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Navy Blue suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Navy Blue suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Navy Blue suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                        .product-card
                            .img-container.product-card__image
                                //- img(src="", alt="")
                                .navigation
                                    span.navigation__link
                                        i.fa-light.fa-magnifying-glass-plus
                                    span.navigation__link
                                        i.fa-light.fa-bag-shopping
                                    span.navigation__link
                                        i.fa-regular.fa-retweet
                                    span.navigation__link
                                        i.fa-light.fa-heart
                            .product-card__tags
                                //- .tag sale
                            .product-card__content
                                h3.name Navy Blue suit
                                .rate
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-solid.fa-star
                                    i.fa-light.fa-star
                                .price
                                    //- .price__before $49.90
                                    .price__after $310.00
                    span.action.action-secondary.black.arrow(data-direction="right")
                        i.fa-solid.fa-caret-right
        section.from-blogs-section
            .wrapper
                h6.section-heading.full-border From the Blog
            .slides
                span.action.action-secondary.black#leftControler
                    i.fa-solid.fa-caret-left
                .posts
                    .blog-post-review.grid
                        .img-container.blog-post-review__img
                            img(src="", alt="alt")
                        .blog-post-review__content
                            h3.title Luxury Fashion trending
                            p.preview Duis hendrerit sem eget dictum cursus. Vivamus imperdiet metus placerat, dictum lorem et, congue lectus. 
                            .details 
                                .details__data
                                    i.fa-regular.fa-calendar-days
                                    span Dec  20, 2016
                                .details__data
                                    i.fa-light.fa-comment
                                    span 1
                                .details__data.read-more
                                    i.fa-solid.fa-caret-right
                                    a(href="#") Read More
                    .blog-post-review.grid
                        .img-container.blog-post-review__img
                            img(src="", alt="alt")
                        .blog-post-review__content
                            h3.title paris Premium perfume
                            p.preview Vivamus imperdiet metus placerat, dictum lorem et, congue lectus. Sed liquet quis lectus eget, fermentum tempus purus.
                            .details 
                                .details__data
                                    i.fa-regular.fa-calendar-days
                                    span Dec  20, 2016
                                .details__data
                                    i.fa-light.fa-comment
                                    span 1
                                .details__data.read-more
                                    i.fa-solid.fa-caret-right
                                    a(href="#") Read More
                span.action.action-secondary.black#rightControler
                    i.fa-solid.fa-caret-right
        include includes/footer.pug