doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)

        title Login

        include includes/head.pug

        //- Login scripts
        script(src="./scripts/js/pages/login.js", defer)

    body.login
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .wrapper#logInContainer
        .loading-container#loadingContainer
            .loading
                .loading__box
                .loading__box
                .loading__box
                .loading__box
    include includes/footer.pug