doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- script(type="module")
        //-     | // Import the functions you need from the SDKs you need
        //-     | import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js";
        //-     | // TODO: Add SDKs for Firebase products that you want to use
        //-     | // https://firebase.google.com/docs/web/setup#available-libraries
        //-     | // Your web app's Firebase configuration
        //-     | // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        //-     | const firebaseConfig = {
        //-     |     apiKey: "AIzaSyCFwyjdvYUzBwxiabukGiHzIQADTKzkwNI",
        //-     |     authDomain: "luxury-e-commerce.firebaseapp.com",
        //-     |     projectId: "luxury-e-commerce",
        //-     |     storageBucket: "luxury-e-commerce.appspot.com",
        //-     |     messagingSenderId: "49081782264",
        //-     |     appId: "1:49081782264:web:bac36c2107750940bd500d",
        //-     |     measurementId: "G-H2Y5JJS39Z"
        //-     | };
        //-     | // Initialize Firebase
        //-     | const app = initializeApp(firebaseConfig);

        //- Login scripts
        script(src="./scripts/js/pages/login.js", type="module") 

    title Login

    body.login
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .wrapper
            form.login
                h6.login__head Sign In
                .login__container
                    .social-logins 
                        .btn.btn-social.facebook
                            i.fa-brands.fa-facebook-f
                            | Sign in with facebook
                        .btn.btn-social.twitter 
                            i.fa-brands.fa-twitter
                            | Sign in with twitter
                    input(type="email", placeholder="Email address *", required).input
                    input(type="password", placeholder="Password *", required).input
                    label.checkbox.remember
                        input(type="checkbox")
                        .checkbox__box
                            i.fa-solid.fa-check.mark
                        span.checkbox__txt Remember me!
                    button(type="submit").btn.btn-primary.black Sign in
                    a(href="#").forget Fogot your password?
    include includes/footer.pug