doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        title Login

    body.login
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        .wrapper
            form.login
                h6.login__head Sign In
                .login__container
                    .social-logins 
                        .social-logins__btn.facebook
                            i.fa-brands.fa-facebook-f
                            | Sign in with facebook
                        .social-logins__btn.twitter 
                            i.fa-brands.fa-twitter
                            | Sign in with twitter
                    input(type="email", placeholder="Email address *").input
                    input(type="password", placeholder="Password *").input
                    label.remember
                        input(type="checkbox")
                        | Remember me!
                    button(type="submit").btn.btn-primary.black Sign in
                    a(href="#").forget Fogot your password?
    include includes/firebase-tag.pug
    include includes/footer.pug