doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

        //- Render data Script
        script(src="scripts/js/product-details.js", defer) 

        title Product Details v1

    body.product-details-v1
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        header.page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") women
            h5.page-header__title Product Details
        main.wrapper 
            section.product-details#productDetailsV1
            //- #TODO active this slide 
            //- section.related-products
                h6.section-heading.full-border Related PRODUCTS
                .products 
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name COMBINED ANKLE BOOTS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $49.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name RIPPED DENIM SHORTS
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $35.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name Gem Choker
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $19.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name cITY BAG WITH LOCK
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $39.90
                .controlers 
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-right
    include includes/footer.pug