doctype
html(lang='en')

    head
        //- Pages head tags (meta, fonts, icons, scripts, and custom styles)
        include includes/head.pug

                //- Slides Script
        script(src="scripts/js/slides.js", defer) 

        title Product Details v2

    body.product-details-v2
        include includes/navbar-v1.pug
        +navbar-v1-active(true)
        header.page-header 
            .page-header__tags 
                span.tag: a(href="#") home
                span.tag: a(href="#") women
            h5.page-header__title Product Details
        main.wrapper 
            section.product-details
                .images
                    .images__subs 
                        .img-container.img.img--active
                            //- img(src="", alt="alt")
                        .img-container.img
                            //- img(src="", alt="alt")
                        .img-container.img
                            //- img(src="", alt="alt")
                        .img-container.img
                            //- img(src="", alt="alt")
                        .img-container.img
                            //- img(src="", alt="alt")
                    .img-container.images__main
                        //- img(src="", alt="alt")
                .product-card-list
                    .product-card-list__content
                        h3.name TECHNICAL SUIT
                        .rate
                            .rate__stars
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-solid.fa-star
                                i.fa-light.fa-star
                            .rate__details
                                span 12 Review(s)
                                span.seprator
                                span Add Your Review
                        .price
                            //- .price__before $49.90
                            .price__after $169.00
                        .availability Availability: #[span In stock]
                        .description Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis.
                        .data-input
                            .selector
                                .selector__name size: 
                                .selector__options
                                    .option.option--active xs
                                    .option s
                                    .option l
                                    .option xxl
                            .selector
                                .selector__name color: 
                                .selector__options
                                    .option.option--active white
                                    .option black
                                    .option blue
                                    .option grey
                            label.select-number Quantity:
                                input(type="number", value="1") 
                        .navigation
                            span.action.action-primary.black.icon
                                i.fa-light.fa-bag-shopping
                                | Add to cart
                            span.action.action-secondary.black
                                i.fa-regular.fa-retweet
                            span.action.action-secondary.black
                                i.fa-light.fa-heart
                        .featurs Free Shipping | Free Return
                        .share
                            span Share:
                            .social-links 
                                a(href="#").action.action-primary.white: i.fa-brands.fa-facebook-f
                                a(href="#").action.action-primary.white: i.fa-brands.fa-twitter
                                a(href="#").action.action-primary.white: i.fa-brands.fa-pinterest-p
            //- #TODO active this slide 
            //- section.related-products
                h6.section-heading.full-border Related PRODUCTS
                .products 
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name piped collar interior
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $49.90
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        // .product-card__tags
                        //     .tag sale
                        .product-card__content
                            h3.name city bag with lock
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $39.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name LEATHER BROGUES
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $139.00
                    .product-card
                        .img-container.product-card__image
                            //- img(src="", alt="")
                            .navigation
                                span.navigation__link
                                    i.fa-light.fa-magnifying-glass-plus
                                span.navigation__link
                                    i.fa-light.fa-bag-shopping
                                span.navigation__link
                                    i.fa-regular.fa-retweet
                                span.navigation__link
                                    i.fa-light.fa-heart
                        //- .product-card__tags
                        //-     .tag sale
                        .product-card__content
                            h3.name BRUSHED LEATHER DUFFEL BAG
                            //- .rate
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star
                            //-     i.fa-solid.fa-star-half-stroke
                            .price
                                //- .price__before $49.90
                                .price__after $279.90
                .controlers 
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-left
                    span.action.action-secondary.black
                        i.fa-solid.fa-caret-right
    include includes/footer.pug