.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1994;

  & .links {
    @media screen and (max-width: 960px) {
      display: none !important;
    }

    &__link {
      font-family: $open;
      font-weight: $regular;
      font-size: px-rem(13);
      line-height: 16px;
      color: $color-gray-9;
      text-decoration: unset;
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;
      padding: 30px 10px;
      text-shadow: $text-shadow-black;
      @include flex-r;
      justify-content: center;
      align-items: center;

      & a {
        color: inherit;
        text-decoration: unset;
      }

      & .extend {
        display: none;
      }

      &::after {
        content: "";
        width: 25px;
        height: 0px;
        position: absolute;
        bottom: 0px;
        background-color: $color-gray-6;
        transition: height $speed-1;
      }

      & .mega-menu {
        position: absolute;
        left: 0;
        cursor: auto;
        display: none;
        top: 100%;
        width: 100%;
        z-index: 1994;

        &__links {
          & .group {
            @include flex-c;
            gap: 19px;
            border-left: 1px solid #e6e6e6;
            padding-left: 59px;
            padding-top: 8px;
            padding-bottom: 13px;

            &__item {
              font-family: $lato;
              font-weight: $regular;
              font-size: px-rem(12);
              line-height: 15px;
              color: $color-gray-3;
              text-decoration: unset;
              text-transform: uppercase;
              list-style: none;
              text-shadow: unset;

              &:not(.group__item__title) {
                cursor: pointer;
              }

              & a {
                color: inherit;
                text-decoration: unset;
              }

              &__title {
                font-family: $play;
                font-weight: $black;
                font-size: px-rem(18);
                line-height: 18px;
                letter-spacing: va-px(200);
                color: $color-secondary;
                text-transform: uppercase;
                margin-bottom: 6px;
              }
            }
          }
        }

        &.fullwidth {
          background-color: $color-white;
          border-top: 5px solid $color-gray-6;
          box-shadow: $shadow-035;
          padding-top: 39px;
          padding-bottom: 51px;

          @media screen and (max-width: 1250px) {
            padding-left: 25px;
            padding-right: 25px;
          }

          & .wrapper {
            @include grid-1170;
            @include flex-r;
            justify-content: space-between;
            gap: 30px;
          }

          & .mega-menu {
            &__links {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 45px;

              & .group:first-child,
              & .group:nth-of-type(4) {
                border-left: unset;
                padding-left: unset;
              }
            }

            &__card {
              background-color: $color-secondary;
              width: 270px;
              height: auto;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                display: none;
              }

              &:hover {
                &::after {
                  display: block;
                }
              }

              & .text-container {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.3);
                @include flex-c;
                gap: 12px;
                align-items: center;
                justify-content: center;
                height: 80px;
                width: 100%;

                & .category-name {
                  font-family: $play;
                  font-weight: $black;
                  font-size: px-rem(25);
                  line-height: 15px;
                  color: $color-white;
                  text-decoration: unset;
                  text-transform: uppercase;
                  letter-spacing: $space-1;
                }

                & .feature {
                  font-family: $lato;
                  font-weight: $regular;
                  font-size: px-rem(13);
                  line-height: 15px;
                  color: $color-gray-7;
                  text-decoration: unset;
                  text-transform: uppercase;
                  letter-spacing: $space-1;
                }
              }
            }
          }
        }

        &.fullbox {
          & .wrapper {
            background-color: $color-white;
            border-top: 5px solid $color-gray-6;
            box-shadow: $shadow-035;
            @include grid-1170;
            @include flex-c;
            gap: 49px;
            padding-top: 36px;
            padding-bottom: 28px;
            padding-left: 30px;
            padding-right: 30px;
          }

          & .mega-menu__links {
            @include flex-r;
            justify-content: space-between;
            gap: 30px;

            & .group:first-child {
              border-left: unset;
              padding-left: unset;
            }
          }

          & .fast-links {
            @include flex-r;
            gap: 30px;
            width: 100%;

            &__link {
              font-family: $play;
              font-weight: $black;
              font-style: italic;
              font-size: px-rem(24);
              line-height: 15px;
              letter-spacing: $space-1;
              color: rgba(255, 255, 255, 0.6);
              text-decoration: unset;
              text-transform: uppercase;
              background-color: $color-black;
              height: 98px;
              width: -webkit-fill-available;
              @include flex-r;
              align-items: center;
              justify-content: center;
              transition: transform $speed-1;

              &:hover {
                transform: scale(0.98);
              }
            }
          }
        }
      }

      &:hover {
        &::after {
          height: 5px;
        }

        & .mega-menu {
          display: block;
        }
      }
    }
  }

  & .actions {
    &__action {
      list-style: none;
      color: $color-white;
      text-decoration: unset;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 27px;
      @include flex-r;
      justify-content: center;

      & i {
        font-size: 20px;
      }

      & a {
        color: inherit;
        text-decoration: unset;
        position: relative;

        & .cart-number {
          @include flex-r;
          position: absolute;
          bottom: -8px;
          right: -11px;
          font-family: $lato;
          font-weight: $bold;
          font-size: px-rem(14);
          line-height: 22px;
          color: $color-white;
          background-color: $color-primary;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }

      &.cart {
        padding: 22px 0;

        &::after {
          content: "";
          width: 25px;
          height: 0px;
          position: absolute;
          bottom: 0px;
          background-color: $color-gray-6;
          transition: height $speed-1;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      & .mega-menu.fullwidth {
        position: absolute;
        left: 0;
        cursor: auto;
        top: 100%;
        width: 100%;
        z-index: 1994;
        background-color: $color-white;
        border-top: 5px solid $color-gray-6;
        box-shadow: $shadow-035;
        display: none;
        flex-direction: column;
        align-items: center;

        & .mega-menu {
          &__products {
            @include flex-r;
            gap: 30px;
            justify-content: center;
            width: 100%;
            padding-top: 53px;
            padding-bottom: 45px;

            & .product-card {
              &__image {
                & .navigation {
                  &__link:nth-child(2) {
                    display: none;
                  }
                }
              }

              &__remove {
                position: absolute;
                top: -16px;
                right: -16px;
                cursor: pointer;
                background-color: $color-white;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 1px solid $color-gray-7;
                @include flex-r;
                align-items: center;
                justify-content: center;
                transition: background-color $speed-1;

                & i {
                  font-size: 13px;
                  color: $color-gray-5;
                }

                &:hover {
                  background-color: $color-gray-7;
                }
              }
            }
          }

          &__details {
            @include flex-r;
            justify-content: center;
            align-items: center;
            gap: 25px;
            width: 100%;
            border-top: 1px solid #e6e6e6;
            padding-top: 23px;
            padding-bottom: 21px;

            & .total {
              font-family: $lato;
              font-weight: $bold;
              font-size: px-rem(18);
              line-height: 22px;
              color: $color-gray-3;
              text-transform: uppercase;

              &__price {
                color: $color-secondary;
              }
            }

            & .action {
              width: auto;
              gap: 15px;

              & .btn {
                min-width: 111px;
                position: relative;
                z-index: 1;
              }
            }
          }
        }
      }

      &:hover {
        &.cart::after {
          height: 5px;
        }

        & .mega-menu.fullwidth {
          display: flex;
        }
      }
    }
  }

  &__v1 {
    @include flex-r;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-white-15-1;
    padding-left: 25px;
    padding-right: 25px;

    @media screen and (max-width: 400px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    & .logo {
      margin-top: 18px;
      margin-bottom: 18px;
    }

    & .links {
      @include flex-r;
      justify-content: space-between;
      align-items: center;
      gap: 9px;
    }

    & .actions {
      @include flex-r;
      justify-content: space-between;
      align-items: center;

      &__action {
        margin-right: 14.5px;
        margin-left: 14.5px;

        @media screen and (max-width: 400px) {
          &:nth-child(2):not(.navbar__v1.navbar__v2 .actions__action) {
            display: none;
          }
        }

        & .sidebar {
          & .aside {
            & .fa-magnifying-glass {
              display: none;
              color: $color-gray-6;
              cursor: pointer;

              @media screen and (max-width: 400px) {
                position: absolute;
                top: 26px;
                left: 27px;
                display: block;
              }
            }

            & .links {
              display: none !important;
              flex-direction: column;
              align-items: flex-start;
              gap: 22px;
              margin-top: 86px;

              @media screen and (max-width: 960px) {
                display: flex !important;
              }

              &__link {
                color: $color-secondary;
                padding: 0;
                @include flex-r;
                gap: 21px;
                align-items: center;
                cursor: pointer;
                width: 100%;
                justify-content: flex-start;
                flex-wrap: wrap;

                & a {
                  position: relative;
                  z-index: 2023;
                }

                &::before {
                  content: "";
                  height: 1px;
                  width: 10px;
                  background-color: $color-gray-4;
                }

                &::after {
                  content: unset;
                }

                & .extend {
                  color: $color-gray-6;
                  margin-left: auto;
                  transform: rotate(0deg);
                  transition: transform $speed-1;

                  & i {
                    font-size: 16px;
                  }

                  @media screen and (max-width: 960px) {
                    display: inline;
                  }
                }

                & .mega-menu {
                  flex: 0 0 auto;
                  position: unset;
                  padding: unset;
                  border: unset;
                  box-shadow: unset;
                  display: none;

                  & .wrapper {
                    flex-direction: column;
                    max-width: unset;
                    margin: unset;
                    padding: 0 30px;
                    border: unset;
                    box-shadow: unset;
                  }

                  &__links {
                    @include flex-c;
                    gap: unset;
                    gap: 16px;

                    & .group {
                      padding: unset;
                      border: unset;
                      gap: 14px;

                      &__item {
                        font-size: 0.75rem;

                        &__title {
                          font-size: 0.8rem;
                          margin-bottom: unset;
                        }
                      }
                    }
                  }

                  &__card {
                    display: none;
                  }

                  & .fast-links {
                    display: none;
                  }
                }

                &--active {
                  & .extend {
                    transform: rotate(90deg);
                  }

                  & .mega-menu {
                    display: block;
                  }
                }
              }
            }

            &__links {
              @media screen and (max-width: 960px) {
                margin-top: unset;
              }
            }
          }
        }
      }
    }

    &--active {
      background-color: $color-white;
      border-bottom: unset;
      box-shadow: $shadow-013;

      & .links {
        &__link {
          color: $color-secondary;
        }
      }

      & .actions {
        &__action {
          color: $color-secondary;
        }
      }
    }

    &--animate {
      animation-duration: $speed-1;
      animation-name: navbarActive;
      position: fixed !important;
      top: 0;

      @keyframes navbarActive {
        from {
          transform: translateY(0%);
        }
        to {
          transform: translateY(10%);
        }
      }
    }
  }

  &__v3 {
    @include flex-c;
    align-items: center;

    & .actions {
      @include flex-r;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: $border-white-15-1;
      padding-left: 25px;
      padding-right: 25px;

      @media screen and (max-width: 400px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &__action {
        &.cart::after {
          bottom: 50%;
        }

        & .mega-menu.fullwidth {
          top: 50%;
        }
      }
    }

    & .links {
      @include flex-r;
      align-items: center;
      gap: 39px;
    }

    &--active {
      background-color: $color-white;
      border-bottom: unset;
      box-shadow: $shadow-013;

      & .links {
        &__link {
          color: $color-secondary;
        }
      }

      & .actions {
        border-color: $color-gray-6;

        &__action {
          color: $color-secondary;
        }
      }
    }
  }
}
