//- Initalize firebase
script(src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js", defer)

//- Login auth
script(src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js", defer)

//- Realtime Database
script(src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js", defer)