.err-404 {
  background-color: rgba(0, 0, 0, 0.6);

  & > .wrapper {
    padding: 450px 25px 240px;
    @include grid-1170;
    max-width: 1220px;
    box-sizing: border-box;
    position: relative;
    @include flex-c;
    align-items: center;
    justify-content: center;
    gap: 69px;

    @media screen and (max-width: 850px) {
      padding-top: 268px;
    }

    @media screen and (max-width: 520px) {
      padding-top: 162px;
    }
  }

  & .err-type {
    position: absolute;
    font-family: "Arial";
    font-weight: $bold;
    font-size: px-rem(500);
    color: rgba(255, 255, 255);
    letter-spacing: $space-1;
    opacity: 0.08;
    top: 10%;

    @media screen and (max-width: 850px) {
      font-size: 19rem;
    }

    @media screen and (max-width: 520px) {
      font-size: 11rem;
    }

    @media screen and (max-width: 350px) {
      font-size: 10rem;
    }
  }

  & .err-massage {
    font-family: $play;
    font-weight: $bold;
    font-size: px-rem(30);
    color: $color-white;
    letter-spacing: va-px(100);
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 520px) {
      font-size: 1.5rem;
    }
  }

  & .err-btns {
    @include flex-r;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    & .btn {
      @media screen and (max-width: 520px) {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
