.category-grid {
  & .wrapper {
    padding: 81px 25px 80px;
    @include grid-1170;
    @include flex-r;
    gap: 30px;
  }

  & .display-sidebar {
    @include flex-c;
    gap: 30px;
    width: 270px;

    & .show-item {
      width: 100%;
      @include flex-c;
      gap: 44px;
    }
  }

  & .products {
    @include flex-c;
    gap: 30px;
    width: 100%;

    & .setting-bar {
      @include flex-r;
      align-items: center;
      gap: 10px;

      & .select {
        width: 190px;
      }

      &__layouts {
        @include flex-r;
        align-items: center;
        gap: 16px;
        border: $border-gray-7;
        height: 60px;
        padding: 0 23px;
        margin-left: auto;

        & .layout {
          cursor: pointer;
          color: $color-gray-5;
          transition: color $speed-1;

          &--active {
            color: $color-secondary;
          }
        }
      }
    }

    & .items {
      @include flex-r;
      flex-wrap: wrap;
      gap: 38px 30px;
      justify-content: space-between;
    }
  }
}
