.category-grid {
  & .wrapper {
    padding: 81px 25px 80px;
    @include grid-1170;
    @include flex-r;
    gap: 30px;
    box-sizing: content-box;
  }

  & .display-sidebar {
    @include flex-c;
    gap: 30px;
    min-width: 270px;

    & .show-item {
      width: 100%;
      @include flex-c;
      gap: 44px;
    }

    & .banner {
      width: 100%;
      height: -webkit-fill-available;
      @include flex-c;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      padding-bottom: 80px;
      padding-top: 32px;

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-secondary;
        z-index: -1;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      &__subtitle {
        font-family: $lato;
        font-weight: $regular;
        font-size: px-rem(18);
        line-height: 16px;
        color: $color-gray-7;
        text-transform: uppercase;
      }

      &__title {
        font-family: $play;
        font-weight: $regular;
        font-size: px-rem(48);
        line-height: 16px;
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 14px;
      }
    }
  }

  & .products {
    @include flex-c;
    gap: 30px;
    width: 100%;

    & .setting-bar {
      @include flex-r;
      align-items: center;
      gap: 10px;

      & .select {
        width: 190px;
      }

      &__layouts {
        @include flex-r;
        align-items: center;
        gap: 16px;
        border: $border-gray-7;
        height: 60px;
        padding: 0 23px;
        margin-left: auto;

        & .layout {
          cursor: pointer;
          color: $color-gray-5;
          transition: color $speed-1;

          &--active {
            color: $color-secondary;
          }
        }
      }
    }

    & .items {
      @include flex-r;
      flex-wrap: wrap;
      gap: 38px 30px;
      justify-content: space-between;
    }

    & .pagination {
      @include flex-r;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 19px;

      & .pages {
        @include flex-r;
        align-items: center;
        justify-content: center;
        gap: 5px;

        & .page {
          text-decoration: unset;

          &--active {
            background-color: $color-secondary;
            border-color: $color-secondary !important;
            color: $color-white;
          }
        }
      }

      & .action.black {
        border: $border-gray-7;
        font-size: px-rem(13);

        & i {
          font-size: px-rem(18);
        }
      }
    }
  }
}
