.connect-us {
  & > .wrapper {
    padding: 84px 25px 80px;
    @include grid-1170;
    box-sizing: content-box;
    @include flex-r;
    gap: 30px;
  }

  & .connect-form {
    margin-bottom: 61px;
    @include flex-c;
    gap: 10px;
    width: 100%;

    &__title {
      font-family: $play;
      font-weight: $bold;
      font-size: px-rem(25);
      line-height: 30px;
      color: $color-secondary;
      text-transform: uppercase;
      letter-spacing: $space-1;
      margin-bottom: 16px;
    }

    &__sub-title {
      font-family: $lato;
      font-weight: $regular;
      font-size: px-rem(15);
      line-height: 24px;
      color: $color-gray-3;
      margin-bottom: 24px;
    }

    & textarea {
      height: unset;
    }

    & button {
      border: unset;
      @include flex-r;
      justify-content: center;
    }
  }

  & .maps {
    & #map {
      width: 570px;
      height: 521px;

      & .leaflet-bottom.leaflet-right {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
