.home-v2 {
  & nav.navbar.navbar__v1.navbar__v2 {
    border-bottom: unset;

    &.top-part {
      position: absolute;
      width: 100%;

      & .actions {
        width: 100%;
        flex-direction: row-reverse;

        &__action {
          & .sidebar {
            & .aside {
              & .links {
                display: none !important;
                flex-direction: column;
                align-items: flex-start;
                gap: 22px;
                margin-top: 86px;

                @media screen and (max-width: 960px) {
                  display: flex !important;
                }

                &__link {
                  color: $color-secondary;
                  padding: 0;
                  @include flex-r;
                  gap: 21px;
                  align-items: center;
                  cursor: pointer;
                  width: 100%;
                  justify-content: flex-start;
                  flex-wrap: wrap;

                  & a {
                    position: relative;
                    z-index: 2023;
                  }

                  &::before {
                    content: "";
                    height: 1px;
                    width: 10px;
                    background-color: $color-gray-4;
                  }

                  &::after {
                    content: unset;
                  }

                  & .extend {
                    color: $color-gray-6;
                    margin-left: auto;
                    transform: rotate(0deg);
                    transition: transform $speed-1;

                    & i {
                      font-size: 16px;
                    }

                    @media screen and (max-width: 960px) {
                      display: inline;
                    }
                  }

                  & .mega-menu {
                    flex: 0 0 auto;
                    position: unset;
                    padding: unset;
                    border: unset;
                    box-shadow: unset;
                    display: none;

                    & .wrapper {
                      flex-direction: column;
                      max-width: unset;
                      margin: unset;
                      padding: 0 30px;
                      border: unset;
                      box-shadow: unset;
                    }

                    &__links {
                      @include flex-c;
                      gap: unset;
                      gap: 16px;

                      & .group {
                        padding: unset;
                        border: unset;
                        gap: 14px;

                        &__item {
                          font-size: 0.75rem;

                          &__title {
                            font-size: 0.8rem;
                            margin-bottom: unset;
                          }
                        }
                      }
                    }

                    &__card {
                      display: none;
                    }

                    & .fast-links {
                      display: none;
                    }
                  }

                  &--active {
                    & .extend {
                      transform: rotate(90deg);
                    }

                    & .mega-menu {
                      display: block;
                    }
                  }
                }
              }

              &__links {
                @media screen and (max-width: 960px) {
                  margin-top: unset;
                }
              }
            }
          }
        }
      }
    }

    &.links-part {
      box-shadow: $shadow-003;
      z-index: 8;

      & .links {
        &__link {
          color: $color-secondary;
        }
      }

      & .actions {
        &__action {
          color: $color-secondary;
        }
      }
    }
  }

  & .hero-section {
    height: 100vh;
    width: 100%;

    & .slider {
      width: 100%;
      height: 100%;
      @include flex-c;
      justify-content: center;
      align-items: center;
      position: relative;

      &__slides {
        height: 100%;
        width: 100%;

        & .slide {
          display: none;
          background-color: $color-secondary;
          justify-content: center;
          align-items: center;
          position: relative;
          padding-left: 62px;
          padding-right: 62px;

          @media screen and (max-width: 500px) {
            padding-left: 25px;
            padding-right: 25px;
          }

          & img {
            position: absolute;
            top: 0;
            left: 0;
          }

          & .slide-content {
            @include flex-c;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            z-index: 1;
            width: 100%;

            &__headline {
              font-family: $play;
              font-weight: $black;
              text-transform: uppercase;
              font-size: px-rem(80);
              line-height: 36px;
              letter-spacing: va-px(200);
              color: $color-white;
              width: 100%;

              @media screen and (max-width: 728px) {
                font-size: 3rem;
              }

              @media screen and (max-width: 410px) {
                font-size: 2rem;
              }
            }

            &__description {
              font-family: $lato;
              font-weight: $black;
              text-transform: uppercase;
              font-size: px-rem(20);
              line-height: 36px;
              letter-spacing: va-px(200);
              color: $color-primary;
              margin-top: 43px;
              margin-bottom: 37px;

              @media screen and (max-width: 728px) {
                font-size: 2rem;
              }

              @media screen and (max-width: 410px) {
                font-size: 1.5rem;
              }
            }
          }

          &--active {
            display: flex;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              animation: flashing 900ms forwards;

              @keyframes flashing {
                0% {
                  background-color: rgb(255, 255, 255);
                }
                100% {
                  background-color: rgba(255, 255, 255, 0);
                }
              }
            }
          }

          &::after {
            content: "";
            background-color: rgba(0, 0, 0, 0.39);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      &__controler {
        position: absolute;
        @include flex-r;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 500px) {
          display: none;
        }
      }

      &__bullets {
        position: absolute;
        bottom: 40px;
      }
    }
  }

  & .popular-categories {
    margin-top: 80px;
    margin-bottom: 85px;
    padding-left: 25px;
    padding-right: 25px;

    & .wrapper {
      @include grid-1170;
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 570px));
      grid-template-rows: repeat(3, 270px);
      justify-content: center;
      gap: 30px;

      @media screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 270px);
      }
    }

    & .category {
      text-decoration: none;
      border: $border-gray-7;
      position: relative;

      &:nth-of-type(1) {
        grid-row-start: 1;
        grid-row-end: 3;

        @media screen and (max-width: 650px) {
          grid-row-start: unset;
          grid-row-end: unset;
        }
      }

      &:nth-of-type(4) {
        grid-row-start: 2;
        grid-row-end: 4;

        @media screen and (max-width: 650px) {
          grid-row-start: unset;
          grid-row-end: unset;
        }
      }

      &__title {
        font-family: $play;
        font-weight: $regular;
        font-size: px-rem(36);
        line-height: 36px;
        letter-spacing: va-px(200);
        text-transform: uppercase;
        color: $color-gray-1;
        position: absolute;
        top: 41px;
        left: 27px;

        @media screen and (max-width: 650px) {
          font-size: px-rem(28);
        }
      }

      &__img {
        background-color: $color-gray-9;
        width: 100%;
        height: 100%;
      }
    }
  }

  & .featured-products {
    padding-left: 25px;
    padding-right: 25px;

    & .wrapper {
      @include grid-1170;
    }

    & .tabs-changer {
      margin-top: 51px;
      flex-wrap: wrap;
      gap: 8px 20px;

      &__tab {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & .products {
      margin-top: 50px;
      margin-bottom: 87px;
      @include flex-r;
      justify-content: center;
      flex-wrap: wrap;
      gap: 47px 30px;
    }
  }

  & .testimonials {
    background-color: $color-secondary;
    padding: 87px 25px;

    & .wrapper {
      @include grid-1170;
    }

    & .section-heading {
      color: $color-white;
      border-color: $color-white;
    }

    & .comment {
      max-width: 588px;
      width: 100%;
      @include flex-c;
      align-items: center;
      margin-top: 37px;
      margin-bottom: 58px;
      gap: 55px;

      &__content {
        font-family: $lato;
        font-style: italic;
        font-weight: $bold;
        font-size: px-rem(15);
        line-height: 24px;
        color: $color-gray-7;
        text-align: center;
        @include flex-r;
        align-items: flex-start;

        &::before {
          content: "“";
          font-size: px-rem(72);
          margin-top: 16px;
          margin-right: 4px;
        }
      }

      &__author {
        font-family: $lato;
        font-style: italic;
        font-weight: $bold;
        font-size: px-rem(15);
        line-height: 24px;
        color: $color-primary;
        text-align: center;
        @include flex-r;
        text-transform: uppercase;
        gap: 4px;

        &::before,
        &::after {
          content: "-";
        }
      }
    }

    & .slider {
      @include flex-c;
      align-items: center;

      & .slide {
        display: none;

        &--active {
          display: flex;
        }
      }
    }
  }

  & .new-products {
    padding: 80px 25px 87px;

    & .wrapper {
      @include grid-1170;
      @include flex-c;
      align-items: center;
      gap: 50px;
      position: relative;
      @media screen and (max-width: 1300px) {
        width: 82%;
      }
    }

    & .products {
      @include flex-r;
      gap: 30px;
      overflow: hidden;
      width: 100%;
      scroll-snap-type: x mandatory;
      overflow-y: hidden;
      transition: all $speed-1;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      & .product-card {
        max-width: 270px;
        width: 100%;
        scroll-snap-align: center;

        &__image {
          @media screen and (max-width: 500px) {
            width: 270px;
          }
        }
      }
    }

    & .controlers {
      @include flex-r;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 50%;

      @media screen and (max-width: 600px) {
        display: none;
      }

      & .action-secondary {
        border: $border-gray-7;
      }

      & .action {
        &:first-child {
          margin-left: -65px;
        }

        &:last-child {
          margin-right: -65px;
        }
      }
    }
  }

  & .logo-brands {
    padding: 87px 25px 83px;
    background-color: $color-secondary;

    & .wrapper {
      @include grid-1170;
      @include flex-c;
      align-items: center;
    }

    & .section-heading {
      color: $color-white;
      border-color: $color-white;
    }

    & .brief {
      font-family: $lato;
      font-weight: $regular;
      font-size: px-rem(15);
      line-height: 18px;
      color: $color-gray-6;
      margin-top: 34px;
      margin-bottom: 52px;
      text-align: center;
    }

    & .logos {
      @include flex-r;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      &__logo {
        width: 170px;
        height: 80px;
        border: $border-white-30-1;
        @include flex-r;
        align-items: center;
        justify-content: center;
      }
    }
  }

  & .from-blogs-section {
    @include flex-c;
    gap: 50px;
    padding: 80px 25px 81px;

    & .wrapper {
      @include grid-1170;
    }

    & .slides {
      @include flex-r;
      align-items: center;
      gap: 15px;
      max-width: 1300px;
      width: 100%;
      margin: auto;

      & .posts {
        @include flex-r;
        align-items: flex-start;
        gap: 30px;
        overflow-x: scroll;
        width: 1170px;
        transition: all $speed-1;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none; /* for Chrome, Safari, and Opera */
        }
      }

      & .action {
        position: relative;
        bottom: 90px;
        border: $border-gray-7;
      }
    }
  }
}
