.product-details-v2 {
  & .wrapper {
    padding: 81px 25px 78px;
    @include grid-1170;
    max-width: 1220px;
    @include flex-c;
    gap: 80px;
    box-sizing: border-box;
  }

  & .product-details {
    @include flex-r;
    gap: 30px;

    @media screen and (max-width: 950px) {
      flex-direction: column;
    }

    & .images {
      @include flex-c;
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 30px;

      &__subs {
        @include flex-r;
        gap: 20px;

        @media screen and (max-width: 950px) {
          justify-content: center;
          flex-wrap: wrap;
        }

        & .img {
          width: 98px;
          height: 98px;
          background-color: $color-gray-9;
          border: $border-gray-7;
          transition: border $speed-1;
          cursor: pointer;

          &--active {
            border: $border-primary-1;
          }
        }
      }

      &__main {
        width: 570px;
        height: 580px;
        background-color: $color-gray-9;
        border: $border-gray-7;

        @media screen and (max-width: 950px) {
          width: 100%;
        }
      }
    }

    & .product-card-list {
      @media screen and (max-width: 950px) {
        justify-content: center;
      }

      &__content {
        @media screen and (max-width: 950px) {
          align-items: center;
          text-align: center;
        }

        & .availability {
          font-family: $lato;
          font-weight: $regular;
          font-size: px-rem(12);
          line-height: 16px;
          color: $color-gray-3;
          text-transform: uppercase;
          margin-bottom: 40px;

          & span {
            color: $color-secondary;
          }
        }

        & .data-input {
          @include flex-c;
          gap: 30px;
          margin-bottom: 40px;

          & .selector {
            @include flex-r;
            gap: 12px;

            &__name {
              font-family: $lato;
              font-weight: $regular;
              font-size: px-rem(12);
              line-height: 36px;
              color: $color-gray-3;
              text-transform: uppercase;
            }

            &__options {
              @include flex-r;
              flex-wrap: wrap;
              gap: 10px;
              align-items: center;

              & .option {
                font-family: $lato;
                font-weight: $regular;
                font-size: px-rem(12);
                line-height: 36px;
                color: $color-gray-4;
                text-transform: uppercase;
                border: $border-gray-7;
                width: 60px;
                height: 22px;
                @include flex-r;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &--active {
                  color: $color-secondary;
                  font-weight: $bold;
                }
              }
            }
          }

          & .select-number {
            font-family: $lato;
            font-weight: $regular;
            font-size: px-rem(12);
            line-height: 36px;
            color: $color-gray-3;
            text-transform: uppercase;
            @include flex-r;
            align-items: center;
            background-color: $color-white;
            height: 50px;
            gap: 11px;

            & input {
              border: $border-gray-7;
              border-radius: unset;
              text-transform: inherit;
              height: 100%;
              outline: unset;
              font-weight: $bold;
              padding-left: 21px;
              padding-right: 21px;
              color: $color-secondary;
              transition: border-color $speed-1;
              width: 89px;

              &:hover {
                border-color: $color-secondary;
              }
            }
          }
        }

        & .navigation {
          margin-bottom: 48px;

          flex-wrap: wrap;

          @media screen and (max-width: 350px) {
            justify-content: center;
          }

          & span:nth-child(1) {
            @media screen and (max-width: 350px) {
              flex: 100%;
            }
          }
        }

        & .featurs {
          font-family: $lato;
          font-weight: $regular;
          font-size: px-rem(12);
          line-height: 16px;
          color: $color-gray-3;
          text-transform: uppercase;
          margin-bottom: 44px;
        }

        & .share {
          @include flex-r;
          align-items: flex-start;
          gap: 19px;

          & span {
            font-family: $lato;
            font-weight: $regular;
            font-size: px-rem(12);
            line-height: 16px;
            color: $color-gray-3;
            text-transform: uppercase;
          }

          & .social-links {
            @include flex-r;
            gap: 10px;

            & a {
              text-decoration: unset;
              border: $border-gray-7;
              color: $color-gray-3;

              & i {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  & .related-products {
    @include flex-c;
    align-items: center;
    gap: 50px;
    position: relative;

    & .products {
      @include flex-r;
      gap: 30px;
      width: 100%;

      & .product-card {
        position: relative;
        z-index: 2;
      }
    }

    & .controlers {
      @include flex-r;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 1;

      & .action-secondary {
        border: $border-gray-7;
      }

      & .action {
        &:first-child {
          margin-left: -65px;
        }

        &:last-child {
          margin-right: -65px;
        }
      }
    }
  }
}
