.shopping-cart {
  & > .wrapper {
    padding: 84px 25px 80px;
    @include grid-1170;
    box-sizing: content-box;
    @include flex-r;
    gap: 30px;
  }

  & .cart-items {
    @include flex-c;
  }

  & .payment-data {
    @include flex-c;
    gap: 30px;

    & .total {
      @include flex-c;
    }

    & .shipping {
      @include flex-c;
    }

    & .code {
      @include flex-c;
    }
  }
}
